<section data-ng-controller="CottonsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Cottons</h1>
    </div>
    <div class="list-group" infinite-scroll="dataSource.nextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="dataSource.busy">
        <a data-ng-repeat="cotton in dataSource.items" data-ng-href="#!/cottons/{{cotton._id}}" class="list-group-item">
            <button class="pull-right btn btn-primary">Бан!</button>
			<small class="list-group-item-text">
				Разместил
				<span data-ng-bind="cotton.created | date:'shortDate'"></span>
				автор
				<span data-ng-bind="cotton.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading">{{cotton.name}}</h4>
            <h5>@{{cotton.screenName}}</h5>
            <p ng-if="cotton.bio.length"><span class="label label-default">Кто</span> {{cotton.bio}}</p>
            <p ng-if="cotton.location.length"><span class="label label-default">Где</span> {{cotton.location}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!dataSource.items.$resolved || dataSource.items.length">
    	Ни одного ватника. <a href="/#!/cottons/create">Добавить</a>
    </div>
</section>